
 td {
  width: 5rem;
  height: 2rem;
  border: 1px solid #ccc;
  text-align: center;
}
 th {
  width: 5rem;
  height: 2rem;
  border: 1px solid #ccc;
  text-align: center; 
   background: lightblue;
  border-color: white;
}

body {
  padding: 1rem;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table {
    border-collapse: collapse;
    border: 1px solid gray;
    table-layout: fixed;
    width:100%;
}

label {
    display: inline-block;
    width: 100%;
    height:100%;
}
input {
    display: inline-block;
    width: 100%;
    height:100%;
}

